
/* 首页页面index.html */

.box{
    background: #fff;
    padding-bottom: 80px;
}
/* banner样式 */
.banner{
    background:linear-gradient(#0F2981, #5244A6);
    overflow: hidden;
    width: 100%;
    height: 600px;
}
.banner .banner_center{
    overflow: hidden;
    padding-top: 50px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.banner .banner_center .banner_top{
    height: 40px;
    width:100%;
}
.banner .banner_center .banner_top h1{
    float: left;
}
.banner .banner_center .banner_top ul{
    float: left;
    margin-top:6px;
    margin-left: 35px;
}
.banner .banner_center .banner_top ul li{
    position: relative;
    font-size: 18px;
    float: left;
    margin: 0 30px
}
.banner .banner_center .banner_top ul li::after{
    content: '';
    width: 1px;
    height: 12px;
    background: #8995C0;
    position: absolute;
    right: -30px;
    margin-top: -6px;
    top: 50%;
}
.banner .banner_center .banner_top ul li:last-child::after{
    content: "";
    width: 0px;
}
.banner .banner_center .banner_top ul li a{
    color: #fff;
    font-size:18px; 
}
.banner .banner_center .banner_top .btn{
    display: flex;
    float: right;
}
.banner .banner_center .banner_top .btn a{
    display: block;
    text-align: center;
    line-height: 42px;
    width: 80px;
    font-size: 18px;
    color: #fff;
    border-radius: 40px;
}
#login{
    background: #FF7777;
}
.banner .banner_center h2{
    font-size: 56px;
    letter-spacing: 3px;
    color: #fff;
    line-height: 74px;
    margin-top: 49px;
    margin-bottom: 40px;
    margin-left: 172px;
    font-weight: normal;
}
.banner .seach_tab{
    height: 205px;
}
.layuiTabStyle{
    margin:10px 0;
    text-align: left!important;
}
.banner .banner_center .seach_tab .layui-tab-title{
    border:none;
    margin-left: 350px;
    display: flex;
    align-items: center;
}
.banner .banner_center .seach_tab .layui-tab-title li{
    color:#fff;
    transition: none;
     width:120px;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    font-size: 22px;
    padding:0;
    cursor: pointer;
    text-align: center;
    margin-right:55px;
}

.banner .banner_center .seach_tab .layui-tab-title .layui-this{
    color: #6E3CFF; 
    background: #FFFFFF;
}
.layui-tab-content{
    padding:10px;
}
.layui-show{
    display:block!important;
}
.banner .banner_center .search{
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}
.banner .banner_center .search .fl{
    overflow: hidden;
    width: 1197px;
    height: 64px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    float: left;
}
.banner .banner_center .search .fl .sea_inp{
    overflow: hidden;
    background: #fff;
    height: 100%;
    width: 1197px;
    position: relative;
}
.banner .banner_center .search .fl .sea_inp .first_input{
    width:220px;
    box-sizing: border-box;
}
.banner .banner_center .search .fl .sea_inp .last_input{
    width: 442px;
    padding-left: 33px;
}
.banner .banner_center .search .fl .sea_inp input{
    overflow: hidden;
    height: 100%;
    float: left;
    width: 1000px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #999999;
}
.banner .banner_center .search .fl input[type='submit']{
    width: 188px;
    height: 100%;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    line-height: 65px;
    background: #6E3CFF;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border:0;
    border-radius:0px 30px 30px 0px;
    outline: none;
    display: block;
}
/* form表单框的蓝色border */
.banner .banner_center .search .fl .sea_inp::after{
    content: '';
    width: 2px;
    height: 40px;
    background: #6E3CFF;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.banner .banner_center .search .fl .sea_inp .line{
    width: 2px;
    height: 40px;
    background: #6E3CFF;
    position: absolute;
    top: 50%;
    left: 600px;
    margin-top: -20px;
}
.banner .banner_center .search .fl .sea_inp::after{
    left: 190px;    
}
#lineClear::after{
	width: 0;
}
.banner .banner_center .nav{
    width: 700px;
    margin-left: 30px;
    margin-top: 53px;
    display: flex;
    justify-content: space-around;
}
.banner .banner_center .nav li:nth-child(1) p{
    font-size:18px;
    color:#FFF;
    font-weight:400;
}
.banner .banner_center .nav li p {
    font-size: 16px;
    color: #E2E2FF;
    font-size:"MicrosoftYaHei";
}
/* banner结束 */
/* content部分  产品介绍 */
.pic_info{
    width:1200px;
    margin:0 auto;
    background:#fff;
    padding-bottom: 78px;
}
.productBox{
    width: 100%;
    background:rgba(248,248,248,1); 
}
.product{
    width: 1200px;
    margin: 0 auto;
    padding: 64px 0 71px 0;
    margin:0 auto;
}
.product ul li{
    overflow: hidden;
    width: 25%;
    margin-top:55px;
    height: 280px;
    float: left;
    border-right: 2px dashed #e1e1e1;
}
.product ul li:last-child{
    border:0;
}
.product ul li img{
    display: block;
    margin: 16px auto 0;
}
.product ul li p{
    font-size: 20px;
    color: #6E3CFF;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.product ul li span{
    display: block;
    font-size: 16px;
    color:#63617d;
    line-height: 25px;
    width:180px;
    margin:0 auto;
    text-align: center;
}
/* eight-icon */
.pic_info .iconBox{
    display: flex;
    flex-wrap:wrap; 
}
.pic_info .iconItem{
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 25%;
    margin-top:55px;
}
.pic_info .iconItem .iconitemBox{
    height:90px;
    width:90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    background: #503EBD;
}
.pic_info .iconItem p{
    margin-top: 20px;
    font-size:24px;
    color:rgba(0,0,0,1);
}

.product h4{
    font-size: 34px;
    color: #333;
    font-weight: normal;
    text-align: center;
}
/* 平台公告 */
.next_gg{
    overflow: hidden;
    width:100%;
    padding:80px 0 60px;
}
.next_gg h2{
    font-size: 34px;
    color: #333;
    text-align: center;
}
.next_gg ul{
    width: 1200px;
    margin: 0 auto;
}
.next_gg ul li{
    overflow: hidden;
    width: 380px;
    float: left;
    margin-right: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    border-radius: 15px;
    background: #fff;
    padding: 38px 40px 0;
    box-sizing: border-box;
    opacity: 0.7;
    height: 260px;
}
.next_gg ul li.on{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;    
}
.next_gg ul li span{
    width: 56px;
    height: 26px;
    border-radius: 40px;
    font-size: 14px;
    margin-bottom: 17px;
    color: #6e3cff;
    line-height: 26px;
    border: 1px solid #6E3CFF;
    display: block;
    text-align: center;
}
.next_gg ul li p{
    font-size: 20px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 15px;
}
.next_gg ul li em{
    display: block;
    font-size: 14px;
    color: #999999;
    line-height: 26px;
}
.next_gg .bot_link{
    display: block;
    font-size: 22px;
    color: #383552;
    text-align: center;
    margin-top: 35px;
    text-decoration: underline;
}
/* 行业新闻咨询 */
.Consultation{
    padding: 60px 0;
    background: #F8F8F8;  
}
.Consultation h2{
    font-size: 34px;
    color: #333333;
    text-align: center;
}
.Consultation .consu_box{
    width: 1200px;
    margin: 38px auto 0;
}
.Consultation .consu_box .fl{
    width: 560px;
    height: 370px;
    position: relative;
    float: left;
}
.Consultation .consu_box .fl p{
    width:100%;
    height: 70px;
    background: #6E3CFF;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.Consultation .consu_box .fr{
    width: 600px;
    background: #fff;
    height: 370px;
}
.Consultation .consu_box .fr ul li{
    width: 100%;
    height: 62px;
    box-sizing: border-box;
    border-bottom: 1px solid #F5F5F5;
    padding: 0 30px;
}
.Consultation .consu_box .fr ul li a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.Consultation .consu_box .fr ul li a p{
    font-size: 16px;
    color:#383552;
}
/* 合作伙伴 */
.Partner{
    padding: 80px 0 100px;
}
.Partner h2{
    font-size: 34px;
    color: #333333;
    text-align: center;
}
.Partner ul{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 87px auto 0;
    justify-content: space-around;
}
.Partner ul li{
    overflow: hidden;
    width: 214px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
/* 最新注册企业 */
.Registered{
    padding:62px 0 38px 0 ;
    background:rgba(248,248,248,1);
}
.Registered h2 {
    font-size: 34px;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
}
.Registered ul{
   width: 1200px;
   margin:0 auto;
   display: flex;
   justify-content: space-around;
   flex-wrap:wrap;
}
.Registered ul li{
     width: 30%;
    display: flex;
}
.Registered ul li div{
    margin-bottom: 20px;
    width:357px;
    height:173px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,203,203,1);
    border-radius:10px; 
    padding:31px 0 37px 36px;
}
.Registered ul li:nth-child(7) div,.Registered ul li:nth-child(8) div,.Registered ul li:nth-child(9) div{
   margin-bottom: 0;
}
.Registered ul li div p{
    font-size:20px;
    color:rgba(30,30,30,1);
}
.Registered ul li div span{
    margin-top: 20px;
    display: block;
    font-size:18px;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.Registered ul li div .comdata{
    margin-top: 26px
}
/* 查企业页面searchConp.html */

/* banner样式 */
a:hover{
    text-decoration: none!important;
}
.head{
    background:linear-gradient(0deg,rgba(83,69,167,1),rgba(50,55,147,1),rgba(14,41,128,1));
    overflow: hidden;
    width: 100%;
    height: 140px;
}
.headCenter{
    overflow: hidden;
    padding-top: 50px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.head .banner_top{
    height: 40px;
    width:100%;
}
.head .banner_top h1{
    float: left;
}
.head .banner_top ul{
    float: left;
    margin-top:6px;
    margin-left: 60px;
}
.head .banner_top ul li{
    position: relative;
    font-size: 18px;
    float: left;
    margin: 0 30px
}
.head .banner_top ul li::after{
    content: '';
    width: 1px;
    height: 12px;
    background: #8995C0;
    position: absolute;
    right: -30px;
    margin-top: -6px;
    top: 50%;
}
.head .banner_top ul li:last-child::after{
    content: "";
    width: 0px;
}
.head .banner_top ul li a{
    color: #fff;
    font-size:18px; 
}
.head .banner_top .btn{
    display: flex;
    float: right;
    margin-top: -5px;
}
.head .banner_top .btn a{
    display: block;
    text-align: center;
    line-height: 42px;
    width: 80px;
    font-size: 18px;
    color: #fff;
    border-radius: 40px;
}
#login{
    background: #FF7777;
}
.head h2{
    font-size: 56px;
    letter-spacing: 3px;
    color: #fff;
    line-height: 74px;
    margin-top: 49px;
    margin-bottom: 40px;
    margin-left: 172px;
    font-weight: normal;
}
/*  */
.searchBox{
    margin-top:52px;
    width: 100%;
    background: #fff;
}
.searchBox .searchName{
    width: 1200px;
    margin: 0 auto;
}
.inputBox {
    overflow: hidden;
    width:1200px;
    height:64px;
    box-shadow:0px 2px 0px 0px rgba(234,234,234,1);
    border-radius:30px;
}
.inputBox input{
    border:0;
    background:rgba(250,250,250,1);
   
}
.inputBox .placeCompony{
    overflow: hidden;
    height: 100%;
    float: left;
    width: 1010px;
    height: 64px;
    border: none;
    outline: none;
    background:rgba(250,250,250,1);
    font-size: 20px;
    color: #999999;
} 
.inputBox .submit{
    width:188px;
    height:64px;
    border:0;
    color: #fff;
    font-size:22px;
    background:#6E3CFF;
    border-radius:0px 30px 30px 0px;
}
/* 下拉搜索框 */
.selectBox{
    width: 1200px;
    margin: 38px auto 0;
    display: flex;
}
.dropdown{
    margin-right: 11px;
}
#trade{
    transform: translate3d(0px, 12px, 0px);
}
.dropdown-item{
    color: #7D7D7D!important;
}
/* button的样式 */
/* 搜素的每一项 */
.componyBox{
    width: 1200px;
    margin: 0 auto;
}
.componyBox .componyItem{
    margin-top: 33px;
    display: flex;
    align-items: center;
    padding-bottom: 36px;
    border-bottom: 2px solid #DFDFDF;
}
.componyBox .componyItem .imgBox{
    width:111px;
    height:120px;
    border:1px solid rgba(166,165,165,1);
    border-radius:8px;
}
.componyBox .componyItem .compTitleBox{
    margin-left: 46px;
    width: 955px;
}
.componyBox .componyItem .compTitleBox .compTitleTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.componyBox .componyItem .compTitleBox .compTitleTop h4{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    letter-spacing: 3px;
    font-family:"MicrosoftYaHei";
}
.componyBox .componyItem .compTitleBox .compTitleTop h4 span{
    color: #6E3CFF;
}
.componyBox .componyItem .compTitleBox .subsist{
    width:71px;
    height:30px;
    line-height: 30px;
    border:1px solid rgba(73,65,161,1);
    border-radius:8px;
    font-weight:550;
    font-size: 16px;
    text-align: center;
    color:rgba(73,65,161,1);
}
.compTitleMid{
    margin-top: 29px;
}
.compTitleBot{
    margin-top: 20px;
}
.componyBox .componyItem .compTitleBox .compTitleMid,.compTitleBot,.compTitleBot a{
    font-size: 16px;
    color: #868686;
}
.compTitleBot a:hover{
    text-decoration: none!important;
}
.componyBox .componyItem .compTitleBox .compTitleMid span,.compTitleBot span{
    margin-right: 40px;
}
/* 查企业页面下拉选择框滑过文字改变颜色 */
.dropdown-menu a:hover{
    color: #6E3CFF!important;
    background: #fff!important;
}
/* 分页的样式 */
.pageBox{
    width: 1200px;
    margin: 0 auto;
}
.list_pages {
    overflow: hidden;
    margin:50px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center; } 
    .list_pages p {
      font-size: 14px;
      margin-right: 5px;
      color: #999999; }
      .list_pages p span {
        color: #906eff;
        margin: 0 7px;
        font-weight: bold; }
      .page ul{
        padding:0;
    }
    .page ul::after{
        content: '';
        display: block;
        clear: both;
    }
    .page ul li{
        float: left;
        margin-left: 20px;
        border-radius:5px;
        background: #fff;
        border:1px solid #999;
        list-style: none;
    }
    .page ul li a{
        color:#aaa;
        font-family: "微软雅黑";
        padding:10px 18px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    .page ul li a:hover{
        background-color: #6E3CFF;
        color: #fff;
    }
    .page .disabled a:hover{
        background-color: #DDD;
        cursor:not-allowed;
        color: #666;
    }
    .page .disabled,.page .disabled a{
        border:0;
        border-radius: 5px;
    }
    .page .disabled a{
        background-color: #DDD;
        cursor:not-allowed;
        color: #666;
    }
    .page .active{
        border:0;
        width: 45.5px;
    }
    .page .active a{
        height: 40px;
        background-color: #6E3CFF;
        color: white;
        border-radius: 5px;
    }










